<mat-toolbar color="primary">
    <span><a routerLink="inicio"><img src="./assets/img/logo.png">GAME MANIA</a></span>
    <span><a routerLink="inicio">Promoções</a></span>
    <span><a routerLink="inicio">Console</a></span>
    <span><a routerLink="inicio">Jogos</a></span>
    <span><a routerLink="inicio"></a></span>
    <span><a routerLink="login">Login</a></span>
    <span class="example-spacer"></span>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="O que deseja buscar?" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>

</mat-toolbar>